#container{
	width: 100%;
}
#top_div {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 30%;
    display: block;
    overflow-x: hidden;
	overflow-y: auto;
}


#bottom_div {
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
	overflow-y: auto;
}
body{
	height: 100%;
	background: #03dfff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/wallpaperflare.com_wallpaper\ \(4\).jpg");
    background-size: cover; 
    
    width: 100%;
}

.supported{
	margin: 5px 0;
	padding: 20px;
    
}

h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
ol{
	list-style: none;
	counter-reset: my-counter;
    width: 100%;   
}
.supported{
    width: 75%;
    margin-left: 12.5%;
}
ol li{
    width: 100%;
    color:#fff;
	padding: 18px;
	margin: 5px 0;
	background: none;
	font-size: 22px;
	counter-increment: my-counter;
}


ol li input[type="text"]{
    width: 20%;
	color:rgba(103, 232, 255, 0.623);
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
    font-style: sans-serif;
    text-align: center;
	outline: none;
}
::placeholder{
    color: #666;
}
ol li button{
    margin: 0 10px;
	background: green;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer; 
    float: right;
}
 ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
} 
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
    background-color: #fff;
	cursor: pointer;
}

.sentence{
	width: 100%;
	display: flex;
	padding: 10px 0;
    margin-top: 10px;
    margin-left: 20px;
}

.sentence > input[type="text"]{
	width: 80%;
    margin-left: 5%;
	color: green;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.sentence button{
	margin: 0 10px;
	background: green;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.output {
    width: 80%;
    margin-left: 5%;
	color: green;
	border:#03dfff;
    padding: 10px;
	font-size: 22px;
	outline: none;
}

